<link rel="stylesheet" href="templates/debug/template.css?ef81677">
<script async src="templates/debug/template.js?ef81677"></script>
<div class="info">
    <ul>
        <li id="info-timestamp" class="large"><label>TIMESTAMP</label>
            <value></value>
        </li>
        <li id="info-index"><label>INDEX</label>
            <value></value>
        </li>
        <li id="info-mapping" class="medium"><label>MAPPING</label>
            <value></value>
        </li>
    </ul>
</div>
<div class="axes"><ul></ul></div>
<div class="buttons"><ul></ul></div>
