<link rel="stylesheet" href="templates/debug/template.css">
<script async src="templates/debug/template.js"></script>
<div class="info">
	<div class="container">
		<div id="info-id" class="box extra-large">
			<div class="content">
				<div class="label">ID</div>
				<div class="value"></div>
			</div>
		</div>
	</div>
</div>
<div class="info">
	<div class="container">
		<div id="info-timestamp" class="box medium">
			<div class="content">
				<div class="label">Timestamp</div>
				<div class="value"></div>
			</div>
		</div>
		<div id="info-index" class="box medium">
			<div class="content">
				<div class="label">Index</div>
				<div class="value"></div>
			</div>
		</div>
		<div id="info-mapping" class="box medium">
			<div class="content">
				<div class="label">Mapping</div>
				<div class="value"></div>
			</div>
		</div>
		<div id="info-rumble" class="box medium">
			<div class="content">
				<div class="label">Vibration</div>
				<div class="value"></div>
			</div>
		</div>
	</div>
</div>
<div class="axes">
	<div class="container"></div>
</div>
<div class="buttons">
	<div class="container"></div>
</div>
