ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
    min-width: 40px;
    padding: 5px;
    margin: 0 5px 5px 0;
    background: #333333;
    line-height: 1;
}
li.medium {
    min-width: 95px;
}
li.large {
    min-width: 205px;
}
li.extra-large {
    min-width: 425px;
}

.label {
    font-size: 0.8em;
    color: #aaaaaa;
}

.value {
    text-align: right;
    margin-top: 3px;
    overflow: hidden;
    white-space: nowrap;
    color: white;
}
