.ds4 {
    background-image: url(base.svg);
    width: 806px;
    height: 598px;
}

.ds4.white {
    background-image: url(base-white.svg);
}

.ds4.disconnected {
    background-image: url(disconnected.svg);
}

.ds4.disconnected div {
    display: none;
}

.ds4 .triggers {
    width: 588px;
    height: 90px;
    position: absolute;
    left: 109px;
}

.ds4 .trigger {
    width: 99px;
    height: 100%;
    background: url(triggers.svg);
}

.ds4 .trigger.left {
    float: left;
}

.ds4 .trigger.right {
    float: right;
    background-position-x: 99px;
}

.ds4 .bumper {
    width: 99px;
    height: 23px;
    background: url(bumper.svg) no-repeat;
    opacity: 0;
}

.ds4 .bumpers {
    position: absolute;
    width: 588px;
    height: 23px;
    left: 109px;
    top: 94px;
}

.ds4 .bumper[data-pressed="true"] {
    opacity: 1;
}

.ds4 .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
}

.ds4 .bumper.right {
    float: right;
    transform: rotateY(180deg);
}

.ds4 .touchpad {
    width: 262px;
    height: 151px;
    position: absolute;
    left: 272px;
    top: 122px;
}

.ds4 .touchpad[data-pressed="true"] {
    background: url(touchpad.svg) no-repeat center;
}

.ds4 .meta {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 382px;
    bottom: 216px;
}

.ds4 .meta[data-pressed="true"] {
    background: url(meta.svg) no-repeat center;
}

.ds4 .arrows {
    position: absolute;
    width: 352px;
    height: 46px;
    top: 142px;
    left: 227px;
}

.ds4 .select, .ds4 .start {
    background: url(start.svg);
    width: 28px;
    height: 46px;
    opacity: 0;
}

.ds4 .select[data-pressed="true"], .ds4 .start[data-pressed="true"] {
    opacity: 1;
}

.ds4 .select {
    float: left;
}

.ds4 .start {
    float: right;
    background-position: 28px 0;
}

.ds4 .buttons {
    position: absolute;
    width: 170px;
    height: 170px;
    top: 159px;
    left: 567px;
}

.ds4 .button {
    position: absolute;
    width: 56px;
    height: 56px;
    background: url(buttons.svg);
}

.ds4 .button[data-pressed="true"] {
    background-position-y: 56px;
}

.ds4 .a {
    background-position: 0 0;
    bottom: 0px;
    left: 56px;
}

.ds4 .b {
    background-position: -56px 0;
    top: 56px;
    right: 0px;
}

.ds4 .x {
    background-position: 112px 0;
    top: 56px;
}

.ds4 .y {
    background-position: 56px 0;
    left: 56px;
}

.ds4 .sticks {
    position: absolute;
    width: 361px;
    height: 105px;
    top: 308px;
    left: 228px;
}

.ds4 .stick {
    position: absolute;
    background: url(sticks.svg);
    height: 94px;
    width: 94px;
}

.ds4 .stick[data-pressed="true"].left {
    background-position-x: -96px;
}

.ds4 .stick[data-pressed="true"].right {
    background-position-x: -192px;
}

.ds4 .stick.left {
    top: 0;
    left: 0;
}

.ds4 .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}

.ds4 .dpad {
    position: absolute;
    width: 125px;
    height: 126px;
    top: 181px;
    left: 92px;
}

.ds4 .face {
    background: url(dpad.svg);
    position: absolute;
}

.ds4 .face.up, .ds4 .face.down {
    width: 36px;
    height: 52px;
}

.ds4 .face.left, .ds4 .face.right {
    width: 52px;
    height: 36px;
}

.ds4 .face.up {
    left: 44px;
    top: 0;
    background-position: -37px 0px;
}

.ds4 .face.down {
    left: 44px;
    bottom: 0;
    background-position: 0px 0;
}

.ds4 .face.left {
    top: 44px;
    left: 0;
    background-position: 104px 0;
}

.ds4 .face.right {
    top: 44px;
    right: 0px;
    background-position: 52px 0;
}

.ds4 .face[data-pressed="true"] {
    /* margin-top: 5px; */
    background-position-y: 52px;
}

.ds4.half {
    margin-top: -300px;
}
