<link rel="stylesheet" href="templates/telemetry/template.css">
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="templates/telemetry/template.js"></script>
<div id="telemetry">
	<div id="chart"></div>
	<div id="meters">
		<div id="clutch" class="meter">
			<div class="bar"></div>
			<div class="value">0</div>
		</div>
		<div id="brake" class="meter">
			<div class="bar"></div>
			<div class="value">0</div>
		</div>
		<div id="throttle" class="meter">
			<div class="bar"></div>
			<div class="value">0</div>
		</div>
	</div>
	<div id="direction">
		<div class="indicator"></div>
		<div class="center"></div>
	</div>
</div>
