#gamepad #telemetry {
    background: var(--main-bg-color);
    display: flex;
    width: fit-content;
    margin: auto;
    height: 120px;
    padding: 4px;
    border-radius: 6px;

    --black-color: black;
    --white-color: white;
    --main-bg-color: black;
    --main-component-color: #333;
    --clutch-color: #2D64B9;
    --brake-color: #A52725;
    --throttle-color: #0CA818;
}

#gamepad #telemetry:has(#steering:not([style*="display: none"])) {
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

#gamepad #telemetry,
#gamepad #telemetry * {
    box-sizing: border-box;
}

#gamepad #telemetry>*+* {
    margin-left: 2px;
}

#gamepad #telemetry #chart {
    flex: 1;
    width: 400px;
    background-color: var(--main-component-color);
    border: 1px solid var(--black-color);
    border-radius: 4px;
}

#gamepad #telemetry #meters {
    display: flex;
    justify-content: space-around;
}

#gamepad #telemetry #meters .meter {
    position: relative;
    flex: 1;
    background-color: var(--main-component-color);
    border: 1px solid var(--black-color);
    border-radius: 4px;
    overflow: hidden;
    width: 30px;
}

#gamepad #telemetry #meters .meter+.meter {
    margin-left: 2px;
}

#gamepad #telemetry #meters .meter .value {
    position: absolute;
    bottom: 2px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
    color: var(--white-color);
}

#gamepad #telemetry #meters .meter .bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    transition: height 100ms;
}

#gamepad #telemetry #meters #clutch.meter .bar {
    background-color: var(--clutch-color);
}

#gamepad #telemetry #meters #brake.meter .bar {
    background-color: var(--brake-color);
}

#gamepad #telemetry #meters #throttle.meter .bar {
    background-color: var(--throttle-color);
}

#gamepad #telemetry #steering {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 6px;
    border-radius: 50px;
    background-color: var(--main-component-color);
}

#gamepad #telemetry #steering .center {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background-color: var(--main-bg-color);
}

#gamepad #telemetry #steering .indicator {
    display: block;
    width: 5%;
    height: 50%;
    background-color: var(--white-color);
    transform-origin: bottom;
    transition: transform 100ms;
}

#wizard h4 {
    text-align: center;
    margin-bottom: 0.5em;
}

#wizard #wizard-instructions #wizard-preview .controller {
    position: relative;
    transform: none;
    top: auto;
    left: auto;
}

#wizard #wizard-instructions p {
    text-align: center;
}


#wizard .wizard-options {
    display: flex;
    margin: auto;
    justify-content: center;
}

#wizard .wizard-options div {
    margin: 0 8px;
    line-height: 1.6em;
}

#wizard .wizard-options div label,
#wizard .wizard-options div input {
    cursor: pointer;
}

#wizard .wizard-options input[name="history-length-option"] {
    width: 35px;
}

#wizard .wizard-options input[name="steering-angle-option"] {
    width: 50px;
}
