<div id="telemetry" class="controller">
	<canvas id="chart"></canvas>
	<div id="meters">
		<div id="clutch" class="meter">
			<div class="bar"></div>
			<div class="value">0</div>
		</div>
		<div id="brake" class="meter">
			<div class="bar"></div>
			<div class="value">0</div>
		</div>
		<div id="throttle" class="meter">
			<div class="bar"></div>
			<div class="value">0</div>
		</div>
	</div>
	<div id="steering">
		<div class="indicator"></div>
		<div class="center"></div>
	</div>
</div>
<div id="wizard" class="popout">
	<div class="content">
		<h2>Telemetry Wizard</h2>
		<div id="wizard-instructions"></div>
	</div>
</div>
