<link rel="stylesheet" href="templates/telemetry/template.css">
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="templates/telemetry/template.js"></script>
<div id="telemetry">
	<div id="chart"></div>
	<div id="meters">
		<div id="clutch" class="meter">
			<div class="value">0</div>
			<div class="bar">
				<div class="filler"></div>
			</div>
		</div>
		<div id="brake" class="meter">
			<div class="value">0</div>
			<div class="bar">
				<div class="filler"></div>
			</div>
		</div>
		<div id="throttle" class="meter">
			<div class="value">0</div>
			<div class="bar">
				<div class="filler"></div>
			</div>
		</div>
	</div>
	<div id="direction">
		<div id="wheel">
			<div id="wheel--indicator"></div>
			<div id="wheel--center"></div>
		</div>
	</div>
</div>
